/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap-4-grid/css/grid.min.css';
@import '../node_modules/material-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

/** Angular material dialog fix in web extension popup **/
.cdk-global-scrollblock {
  position: relative !important;
}
